In [1]:
import org.apache.spark.sql.SparkSession

val spark = SparkSession
  .builder()
  .appName("f1-project")
  .getOrCreate()

Intitializing Scala interpreter ...

Spark Web UI available at http://10.110.168.85:4040
SparkContext available as 'sc' (version = 3.3.2, master = local[*], app id = local-1682010868374)
SparkSession available as 'spark'

23/04/20 13:14:31 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

import org.apache.spark.sql.SparkSession
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@5f30e7a1

In [2]:
val sc = spark.sparkContext

sc: org.apache.spark.SparkContext = org.apache.spark.SparkContext@46e24902

In [3]:
val result_df = spark.read.option("header", "true").csv("../data/results.csv")
val stats_df = spark.read.option("header", "true").csv("../data/status.csv")
val drivers_df = spark.read.option("header", "true").csv("../data/drivers.csv")
val races_df = spark.read.option("header", "true").csv("../data/races.csv")
val constructor_df = spark.read.option("header", "true").csv("../data/constructors.csv")
val driver_standings_df = spark.read.option("header", "true").csv("../data/driver_standings.csv")
val circuits_df = spark.read.option("header", "true").csv("../data/circuits.csv")
val seasons_df = spark.read.option("header", "true").csv("../data/seasons.csv")
val laptimes_df = spark.read.option("header", "true").csv("../data/lap_times.csv")
val pitstops_df = spark.read.option("header", "true").csv("../data/pit_stops.csv")

result_df: org.apache.spark.sql.DataFrame = [resultId: string, raceId: string ... 16 more fields]
stats_df: org.apache.spark.sql.DataFrame = [statusId: string, status: string]
drivers_df: org.apache.spark.sql.DataFrame = [driverId: string, driverRef: string ... 7 more fields]
races_df: org.apache.spark.sql.DataFrame = [raceId: string, year: string ... 16 more fields]
constructor_df: org.apache.spark.sql.DataFrame = [constructorId: string, constructorRef: string ... 3 more fields]
driver_standings_df: org.apache.spark.sql.DataFrame = [driverStandingsId: string, raceId: string ... 5 more fields]
circuits_df: org.apache.spark.sql.DataFrame = [circuitId: string, circuitRef: string ... 7 more fields]
seasons_df: org.apache.spark.sql.DataFrame = [year: string, url: string]
laptimes_df: org.ap...

In [4]:
result_df.show(5,false)

+--------+------+--------+-------------+------+----+--------+------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+--------+
|resultId|raceId|driverId|constructorId|number|grid|position|positionText|positionOrder|points|laps|time       |milliseconds|fastestLap|rank|fastestLapTime|fastestLapSpeed|statusId|
+--------+------+--------+-------------+------+----+--------+------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+--------+
|1       |18    |1       |1            |22    |1   |1       |1           |1            |10    |58  |1:34:50.616|5690616     |39        |2   |1:27.452      |218.300        |1       |
|2       |18    |2       |2            |3     |5   |2       |2           |2            |8     |58  |+5.478     |5696094     |41        |3   |1:27.739      |217.586        |1       |
|3       |18    |3       |3            |7     |7   |3       |3           |3            |6     |58  |+8.163     |5698779     |41        |5   |1:28.090      |216.719        |1       |
|4       |18    |4       |4            |5     |11  |4       |4           |4            |5     |58  |+17.181    |5707797     |58        |7   |1:28.603      |215.464        |1       |
|5       |18    |5       |1            |23    |3   |5       |5           |5            |4     |58  |+18.014    |5708630     |43        |1   |1:27.418      |218.385        |1       |
+--------+------+--------+-------------+------+----+--------+------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+--------+
only showing top 5 rows

In [5]:
stats_df.show(5,false)

+--------+------------+
|statusId|status      |
+--------+------------+
|1       |Finished    |
|2       |Disqualified|
|3       |Accident    |
|4       |Collision   |
|5       |Engine      |
+--------+------------+
only showing top 5 rows

In [6]:
drivers_df.show(5,false)

+--------+----------+------+----+--------+----------+----------+-----------+----------------------------------------------+
|driverId|driverRef |number|code|forename|surname   |dob       |nationality|url                                           |
+--------+----------+------+----+--------+----------+----------+-----------+----------------------------------------------+
|1       |hamilton  |44    |HAM |Lewis   |Hamilton  |1985-01-07|British    |http://en.wikipedia.org/wiki/Lewis_Hamilton   |
|2       |heidfeld  |\N    |HEI |Nick    |Heidfeld  |1977-05-10|German     |http://en.wikipedia.org/wiki/Nick_Heidfeld    |
|3       |rosberg   |6     |ROS |Nico    |Rosberg   |1985-06-27|German     |http://en.wikipedia.org/wiki/Nico_Rosberg     |
|4       |alonso    |14    |ALO |Fernando|Alonso    |1981-07-29|Spanish    |http://en.wikipedia.org/wiki/Fernando_Alonso  |
|5       |kovalainen|\N    |KOV |Heikki  |Kovalainen|1981-10-19|Finnish    |http://en.wikipedia.org/wiki/Heikki_Kovalainen|
+--------+----------+------+----+--------+----------+----------+-----------+----------------------------------------------+
only showing top 5 rows

In [7]:
races_df.show(5,false)

+------+----+-----+---------+---------------------+----------+--------+-------------------------------------------------------+--------+--------+--------+--------+--------+--------+----------+----------+-----------+-----------+
|raceId|year|round|circuitId|name                 |date      |time    |url                                                    |fp1_date|fp1_time|fp2_date|fp2_time|fp3_date|fp3_time|quali_date|quali_time|sprint_date|sprint_time|
+------+----+-----+---------+---------------------+----------+--------+-------------------------------------------------------+--------+--------+--------+--------+--------+--------+----------+----------+-----------+-----------+
|1     |2009|1    |1        |Australian Grand Prix|2009-03-29|06:00:00|http://en.wikipedia.org/wiki/2009_Australian_Grand_Prix|\N      |\N      |\N      |\N      |\N      |\N      |\N        |\N        |\N         |\N         |
|2     |2009|2    |2        |Malaysian Grand Prix |2009-04-05|09:00:00|http://en.wikipedia.org/wiki/2009_Malaysian_Grand_Prix |\N      |\N      |\N      |\N      |\N      |\N      |\N        |\N        |\N         |\N         |
|3     |2009|3    |17       |Chinese Grand Prix   |2009-04-19|07:00:00|http://en.wikipedia.org/wiki/2009_Chinese_Grand_Prix   |\N      |\N      |\N      |\N      |\N      |\N      |\N        |\N        |\N         |\N         |
|4     |2009|4    |3        |Bahrain Grand Prix   |2009-04-26|12:00:00|http://en.wikipedia.org/wiki/2009_Bahrain_Grand_Prix   |\N      |\N      |\N      |\N      |\N      |\N      |\N        |\N        |\N         |\N         |
|5     |2009|5    |4        |Spanish Grand Prix   |2009-05-10|12:00:00|http://en.wikipedia.org/wiki/2009_Spanish_Grand_Prix   |\N      |\N      |\N      |\N      |\N      |\N      |\N        |\N        |\N         |\N         |
+------+----+-----+---------+---------------------+----------+--------+-------------------------------------------------------+--------+--------+--------+--------+--------+--------+----------+----------+-----------+-----------+
only showing top 5 rows

In [8]:
constructor_df.show(5,false)

+-------------+--------------+----------+-----------+------------------------------------------------------------+
|constructorId|constructorRef|name      |nationality|url                                                         |
+-------------+--------------+----------+-----------+------------------------------------------------------------+
|1            |mclaren       |McLaren   |British    |http://en.wikipedia.org/wiki/McLaren                        |
|2            |bmw_sauber    |BMW Sauber|German     |http://en.wikipedia.org/wiki/BMW_Sauber                     |
|3            |williams      |Williams  |British    |http://en.wikipedia.org/wiki/Williams_Grand_Prix_Engineering|
|4            |renault       |Renault   |French     |http://en.wikipedia.org/wiki/Renault_in_Formula_One         |
|5            |toro_rosso    |Toro Rosso|Italian    |http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso            |
+-------------+--------------+----------+-----------+------------------------------------------------------------+
only showing top 5 rows

In [9]:
driver_standings_df.show(5,false)

+-----------------+------+--------+------+--------+------------+----+
|driverStandingsId|raceId|driverId|points|position|positionText|wins|
+-----------------+------+--------+------+--------+------------+----+
|1                |18    |1       |10    |1       |1           |1   |
|2                |18    |2       |8     |2       |2           |0   |
|3                |18    |3       |6     |3       |3           |0   |
|4                |18    |4       |5     |4       |4           |0   |
|5                |18    |5       |4     |5       |5           |0   |
+-----------------+------+--------+------+--------+------------+----+
only showing top 5 rows

In [10]:
circuits_df.show(5,false)

+---------+-----------+------------------------------+------------+---------+--------+-------+---+-----------------------------------------------------------+
|circuitId|circuitRef |name                          |location    |country  |lat     |lng    |alt|url                                                        |
+---------+-----------+------------------------------+------------+---------+--------+-------+---+-----------------------------------------------------------+
|1        |albert_park|Albert Park Grand Prix Circuit|Melbourne   |Australia|-37.8497|144.968|10 |http://en.wikipedia.org/wiki/Melbourne_Grand_Prix_Circuit  |
|2        |sepang     |Sepang International Circuit  |Kuala Lumpur|Malaysia |2.76083 |101.738|18 |http://en.wikipedia.org/wiki/Sepang_International_Circuit  |
|3        |bahrain    |Bahrain International Circuit |Sakhir      |Bahrain  |26.0325 |50.5106|7  |http://en.wikipedia.org/wiki/Bahrain_International_Circuit |
|4        |catalunya  |Circuit de Barcelona-Catalunya|Montmeló    |Spain    |41.57   |2.26111|109|http://en.wikipedia.org/wiki/Circuit_de_Barcelona-Catalunya|
|5        |istanbul   |Istanbul Park                 |Istanbul    |Turkey   |40.9517 |29.405 |130|http://en.wikipedia.org/wiki/Istanbul_Park                 |
+---------+-----------+------------------------------+------------+---------+--------+-------+---+-----------------------------------------------------------+
only showing top 5 rows

In [11]:
seasons_df.show(5,false)

+----+----------------------------------------------------+
|year|url                                                 |
+----+----------------------------------------------------+
|2009|http://en.wikipedia.org/wiki/2009_Formula_One_season|
|2008|http://en.wikipedia.org/wiki/2008_Formula_One_season|
|2007|http://en.wikipedia.org/wiki/2007_Formula_One_season|
|2006|http://en.wikipedia.org/wiki/2006_Formula_One_season|
|2005|http://en.wikipedia.org/wiki/2005_Formula_One_season|
+----+----------------------------------------------------+
only showing top 5 rows

In [12]:
laptimes_df.show(5,false)

+------+--------+---+--------+--------+------------+
|raceId|driverId|lap|position|time    |milliseconds|
+------+--------+---+--------+--------+------------+
|841   |20      |1  |1       |1:38.109|98109       |
|841   |20      |2  |1       |1:33.006|93006       |
|841   |20      |3  |1       |1:32.713|92713       |
|841   |20      |4  |1       |1:32.803|92803       |
|841   |20      |5  |1       |1:32.342|92342       |
+------+--------+---+--------+--------+------------+
only showing top 5 rows

In [13]:
pitstops_df.show(5,false)

+------+--------+----+---+--------+--------+------------+
|raceId|driverId|stop|lap|time    |duration|milliseconds|
+------+--------+----+---+--------+--------+------------+
|841   |153     |1   |1  |17:05:23|26.898  |26898       |
|841   |30      |1   |1  |17:05:52|25.021  |25021       |
|841   |17      |1   |11 |17:20:48|23.426  |23426       |
|841   |4       |1   |12 |17:22:34|23.251  |23251       |
|841   |13      |1   |13 |17:24:10|23.842  |23842       |
+------+--------+----+---+--------+--------+------------+
only showing top 5 rows

In [14]:
stats_df.printSchema()

root
 |-- statusId: string (nullable = true)
 |-- status: string (nullable = true)

### Feature Engineering

In [15]:
import org.apache.spark.sql.functions.col

import org.apache.spark.sql.functions.col

In [16]:

races_df.select(col("raceId")).show(5,false)

+------+
|raceId|
+------+
|1     |
|2     |
|3     |
|4     |
|5     |
+------+
only showing top 5 rows

In [17]:
races_df.printSchema()

root
 |-- raceId: string (nullable = true)
 |-- year: string (nullable = true)
 |-- round: string (nullable = true)
 |-- circuitId: string (nullable = true)
 |-- name: string (nullable = true)
 |-- date: string (nullable = true)
 |-- time: string (nullable = true)
 |-- url: string (nullable = true)
 |-- fp1_date: string (nullable = true)
 |-- fp1_time: string (nullable = true)
 |-- fp2_date: string (nullable = true)
 |-- fp2_time: string (nullable = true)
 |-- fp3_date: string (nullable = true)
 |-- fp3_time: string (nullable = true)
 |-- quali_date: string (nullable = true)
 |-- quali_time: string (nullable = true)
 |-- sprint_date: string (nullable = true)
 |-- sprint_time: string (nullable = true)

In [18]:
val races_df_clean = races_df
  .withColumn("raceId", col("raceId").cast("Integer"))
  .withColumn("year", col("year").cast("Integer"))
  .withColumn("round", col("round").cast("Integer"))
  .withColumn("circuitId", col("circuitId").cast("Integer"))
  .withColumn("date", to_date(col("date"), "yyyy-MM-dd"))
  .withColumn("time", to_timestamp(col("time"), "HH:mm:ss"))
  //.withColumn("PassengerId", col("PassengerId").cast("Integer"))

races_df_clean: org.apache.spark.sql.DataFrame = [raceId: int, year: int ... 16 more fields]

In [19]:
races_df_clean.show(5,false)

+------+----+-----+---------+---------------------+----------+-------------------+-------------------------------------------------------+--------+--------+--------+--------+--------+--------+----------+----------+-----------+-----------+
|raceId|year|round|circuitId|name                 |date      |time               |url                                                    |fp1_date|fp1_time|fp2_date|fp2_time|fp3_date|fp3_time|quali_date|quali_time|sprint_date|sprint_time|
+------+----+-----+---------+---------------------+----------+-------------------+-------------------------------------------------------+--------+--------+--------+--------+--------+--------+----------+----------+-----------+-----------+
|1     |2009|1    |1        |Australian Grand Prix|2009-03-29|1970-01-01 06:00:00|http://en.wikipedia.org/wiki/2009_Australian_Grand_Prix|\N      |\N      |\N      |\N      |\N      |\N      |\N        |\N        |\N         |\N         |
|2     |2009|2    |2        |Malaysian Grand Prix |2009-04-05|1970-01-01 09:00:00|http://en.wikipedia.org/wiki/2009_Malaysian_Grand_Prix |\N      |\N      |\N      |\N      |\N      |\N      |\N        |\N        |\N         |\N         |
|3     |2009|3    |17       |Chinese Grand Prix   |2009-04-19|1970-01-01 07:00:00|http://en.wikipedia.org/wiki/2009_Chinese_Grand_Prix   |\N      |\N      |\N      |\N      |\N      |\N      |\N        |\N        |\N         |\N         |
|4     |2009|4    |3        |Bahrain Grand Prix   |2009-04-26|1970-01-01 12:00:00|http://en.wikipedia.org/wiki/2009_Bahrain_Grand_Prix   |\N      |\N      |\N      |\N      |\N      |\N      |\N        |\N        |\N         |\N         |
|5     |2009|5    |4        |Spanish Grand Prix   |2009-05-10|1970-01-01 12:00:00|http://en.wikipedia.org/wiki/2009_Spanish_Grand_Prix   |\N      |\N      |\N      |\N      |\N      |\N      |\N        |\N        |\N         |\N         |
+------+----+-----+---------+---------------------+----------+-------------------+-------------------------------------------------------+--------+--------+--------+--------+--------+--------+----------+----------+-----------+-----------+
only showing top 5 rows

In [20]:
races_df_clean.printSchema()

root
 |-- raceId: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- round: integer (nullable = true)
 |-- circuitId: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- date: date (nullable = true)
 |-- time: timestamp (nullable = true)
 |-- url: string (nullable = true)
 |-- fp1_date: string (nullable = true)
 |-- fp1_time: string (nullable = true)
 |-- fp2_date: string (nullable = true)
 |-- fp2_time: string (nullable = true)
 |-- fp3_date: string (nullable = true)
 |-- fp3_time: string (nullable = true)
 |-- quali_date: string (nullable = true)
 |-- quali_time: string (nullable = true)
 |-- sprint_date: string (nullable = true)
 |-- sprint_time: string (nullable = true)

In [21]:
result_df.printSchema()

root
 |-- resultId: string (nullable = true)
 |-- raceId: string (nullable = true)
 |-- driverId: string (nullable = true)
 |-- constructorId: string (nullable = true)
 |-- number: string (nullable = true)
 |-- grid: string (nullable = true)
 |-- position: string (nullable = true)
 |-- positionText: string (nullable = true)
 |-- positionOrder: string (nullable = true)
 |-- points: string (nullable = true)
 |-- laps: string (nullable = true)
 |-- time: string (nullable = true)
 |-- milliseconds: string (nullable = true)
 |-- fastestLap: string (nullable = true)
 |-- rank: string (nullable = true)
 |-- fastestLapTime: string (nullable = true)
 |-- fastestLapSpeed: string (nullable = true)
 |-- statusId: string (nullable = true)

In [22]:
result_df.show(5,false)

+--------+------+--------+-------------+------+----+--------+------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+--------+
|resultId|raceId|driverId|constructorId|number|grid|position|positionText|positionOrder|points|laps|time       |milliseconds|fastestLap|rank|fastestLapTime|fastestLapSpeed|statusId|
+--------+------+--------+-------------+------+----+--------+------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+--------+
|1       |18    |1       |1            |22    |1   |1       |1           |1            |10    |58  |1:34:50.616|5690616     |39        |2   |1:27.452      |218.300        |1       |
|2       |18    |2       |2            |3     |5   |2       |2           |2            |8     |58  |+5.478     |5696094     |41        |3   |1:27.739      |217.586        |1       |
|3       |18    |3       |3            |7     |7   |3       |3           |3            |6     |58  |+8.163     |5698779     |41        |5   |1:28.090      |216.719        |1       |
|4       |18    |4       |4            |5     |11  |4       |4           |4            |5     |58  |+17.181    |5707797     |58        |7   |1:28.603      |215.464        |1       |
|5       |18    |5       |1            |23    |3   |5       |5           |5            |4     |58  |+18.014    |5708630     |43        |1   |1:27.418      |218.385        |1       |
+--------+------+--------+-------------+------+----+--------+------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+--------+
only showing top 5 rows

In [23]:
val result_df_clean = result_df
  .withColumn("resultId", col("resultId").cast("Integer"))
  .withColumn("raceId", col("raceId").cast("Integer"))
  .withColumn("driverId", col("driverId").cast("Integer"))
  .withColumn("constructorId", col("constructorId").cast("Integer"))
  .withColumn("number", col("number").cast("Integer"))
  .withColumn("grid", col("grid").cast("Integer"))
  .withColumn("position", col("position").cast("Integer"))
  .withColumn("positionText", col("positionText").cast("Integer"))
  .withColumn("positionOrder", col("positionOrder").cast("Integer"))
  .withColumn("points", col("points").cast("Integer"))
  .withColumn("laps", col("laps").cast("Integer"))
  .withColumn("milliseconds", col("milliseconds").cast("Integer"))
  .withColumn("fastestLap", col("fastestLap").cast("Integer"))
  .withColumn("rank", col("rank").cast("Integer"))
  .withColumn("statusId", col("statusId").cast("Integer"))
  .withColumn("fastestLapSpeed", col("fastestLapSpeed").cast("Double"))
  //.withColumn("date", to_date(col("date"), "yyyy-MM-dd"))
  //.withColumn("fastestLapTime", to_timestamp(col("fastestLapTime"), "HH:mm.sss"))

result_df_clean: org.apache.spark.sql.DataFrame = [resultId: int, raceId: int ... 16 more fields]

In [24]:
result_df_clean.show(5,false)

+--------+------+--------+-------------+------+----+--------+------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+--------+
|resultId|raceId|driverId|constructorId|number|grid|position|positionText|positionOrder|points|laps|time       |milliseconds|fastestLap|rank|fastestLapTime|fastestLapSpeed|statusId|
+--------+------+--------+-------------+------+----+--------+------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+--------+
|1       |18    |1       |1            |22    |1   |1       |1           |1            |10    |58  |1:34:50.616|5690616     |39        |2   |1:27.452      |218.3          |1       |
|2       |18    |2       |2            |3     |5   |2       |2           |2            |8     |58  |+5.478     |5696094     |41        |3   |1:27.739      |217.586        |1       |
|3       |18    |3       |3            |7     |7   |3       |3           |3            |6     |58  |+8.163     |5698779     |41        |5   |1:28.090      |216.719        |1       |
|4       |18    |4       |4            |5     |11  |4       |4           |4            |5     |58  |+17.181    |5707797     |58        |7   |1:28.603      |215.464        |1       |
|5       |18    |5       |1            |23    |3   |5       |5           |5            |4     |58  |+18.014    |5708630     |43        |1   |1:27.418      |218.385        |1       |
+--------+------+--------+-------------+------+----+--------+------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+--------+
only showing top 5 rows

In [25]:
result_df_clean.printSchema()

root
 |-- resultId: integer (nullable = true)
 |-- raceId: integer (nullable = true)
 |-- driverId: integer (nullable = true)
 |-- constructorId: integer (nullable = true)
 |-- number: integer (nullable = true)
 |-- grid: integer (nullable = true)
 |-- position: integer (nullable = true)
 |-- positionText: integer (nullable = true)
 |-- positionOrder: integer (nullable = true)
 |-- points: integer (nullable = true)
 |-- laps: integer (nullable = true)
 |-- time: string (nullable = true)
 |-- milliseconds: integer (nullable = true)
 |-- fastestLap: integer (nullable = true)
 |-- rank: integer (nullable = true)
 |-- fastestLapTime: string (nullable = true)
 |-- fastestLapSpeed: double (nullable = true)
 |-- statusId: integer (nullable = true)

In [26]:
drivers_df.show(5,false)

+--------+----------+------+----+--------+----------+----------+-----------+----------------------------------------------+
|driverId|driverRef |number|code|forename|surname   |dob       |nationality|url                                           |
+--------+----------+------+----+--------+----------+----------+-----------+----------------------------------------------+
|1       |hamilton  |44    |HAM |Lewis   |Hamilton  |1985-01-07|British    |http://en.wikipedia.org/wiki/Lewis_Hamilton   |
|2       |heidfeld  |\N    |HEI |Nick    |Heidfeld  |1977-05-10|German     |http://en.wikipedia.org/wiki/Nick_Heidfeld    |
|3       |rosberg   |6     |ROS |Nico    |Rosberg   |1985-06-27|German     |http://en.wikipedia.org/wiki/Nico_Rosberg     |
|4       |alonso    |14    |ALO |Fernando|Alonso    |1981-07-29|Spanish    |http://en.wikipedia.org/wiki/Fernando_Alonso  |
|5       |kovalainen|\N    |KOV |Heikki  |Kovalainen|1981-10-19|Finnish    |http://en.wikipedia.org/wiki/Heikki_Kovalainen|
+--------+----------+------+----+--------+----------+----------+-----------+----------------------------------------------+
only showing top 5 rows

In [27]:
drivers_df.printSchema()

root
 |-- driverId: string (nullable = true)
 |-- driverRef: string (nullable = true)
 |-- number: string (nullable = true)
 |-- code: string (nullable = true)
 |-- forename: string (nullable = true)
 |-- surname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- nationality: string (nullable = true)
 |-- url: string (nullable = true)

In [28]:
val drivers_df_clean = drivers_df
  .withColumn("driverId", col("driverId").cast("Integer"))
  .withColumn("number", col("number").cast("Integer"))
  .withColumn("dob", to_date(col("dob"), "yyyy-MM-dd"))

drivers_df_clean: org.apache.spark.sql.DataFrame = [driverId: int, driverRef: string ... 7 more fields]

In [29]:
drivers_df_clean.printSchema()

root
 |-- driverId: integer (nullable = true)
 |-- driverRef: string (nullable = true)
 |-- number: integer (nullable = true)
 |-- code: string (nullable = true)
 |-- forename: string (nullable = true)
 |-- surname: string (nullable = true)
 |-- dob: date (nullable = true)
 |-- nationality: string (nullable = true)
 |-- url: string (nullable = true)

In [30]:
constructor_df.show(5,false)

+-------------+--------------+----------+-----------+------------------------------------------------------------+
|constructorId|constructorRef|name      |nationality|url                                                         |
+-------------+--------------+----------+-----------+------------------------------------------------------------+
|1            |mclaren       |McLaren   |British    |http://en.wikipedia.org/wiki/McLaren                        |
|2            |bmw_sauber    |BMW Sauber|German     |http://en.wikipedia.org/wiki/BMW_Sauber                     |
|3            |williams      |Williams  |British    |http://en.wikipedia.org/wiki/Williams_Grand_Prix_Engineering|
|4            |renault       |Renault   |French     |http://en.wikipedia.org/wiki/Renault_in_Formula_One         |
|5            |toro_rosso    |Toro Rosso|Italian    |http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso            |
+-------------+--------------+----------+-----------+------------------------------------------------------------+
only showing top 5 rows

In [31]:
constructor_df.printSchema()

root
 |-- constructorId: string (nullable = true)
 |-- constructorRef: string (nullable = true)
 |-- name: string (nullable = true)
 |-- nationality: string (nullable = true)
 |-- url: string (nullable = true)

In [32]:
val constructor_df_clean = constructor_df
  .withColumn("constructorId", col("constructorId").cast("Integer"))

constructor_df_clean: org.apache.spark.sql.DataFrame = [constructorId: int, constructorRef: string ... 3 more fields]

In [33]:
constructor_df_clean.printSchema()

root
 |-- constructorId: integer (nullable = true)
 |-- constructorRef: string (nullable = true)
 |-- name: string (nullable = true)
 |-- nationality: string (nullable = true)
 |-- url: string (nullable = true)

In [34]:
driver_standings_df.show(5,false)

+-----------------+------+--------+------+--------+------------+----+
|driverStandingsId|raceId|driverId|points|position|positionText|wins|
+-----------------+------+--------+------+--------+------------+----+
|1                |18    |1       |10    |1       |1           |1   |
|2                |18    |2       |8     |2       |2           |0   |
|3                |18    |3       |6     |3       |3           |0   |
|4                |18    |4       |5     |4       |4           |0   |
|5                |18    |5       |4     |5       |5           |0   |
+-----------------+------+--------+------+--------+------------+----+
only showing top 5 rows

In [35]:
driver_standings_df.printSchema()

root
 |-- driverStandingsId: string (nullable = true)
 |-- raceId: string (nullable = true)
 |-- driverId: string (nullable = true)
 |-- points: string (nullable = true)
 |-- position: string (nullable = true)
 |-- positionText: string (nullable = true)
 |-- wins: string (nullable = true)

In [36]:
val driver_standings_df_clean = driver_standings_df
  .withColumn("driverStandingsId", col("driverStandingsId").cast("Integer"))
  .withColumn("raceId", col("raceId").cast("Integer"))
  .withColumn("driverId", col("driverId").cast("Integer"))
  .withColumn("points", col("points").cast("Integer"))
  .withColumn("position", col("position").cast("Integer"))
  .withColumn("positionText", col("positionText").cast("Integer"))
  .withColumn("wins", col("wins").cast("Integer"))

driver_standings_df_clean: org.apache.spark.sql.DataFrame = [driverStandingsId: int, raceId: int ... 5 more fields]

In [37]:
driver_standings_df_clean.printSchema()

root
 |-- driverStandingsId: integer (nullable = true)
 |-- raceId: integer (nullable = true)
 |-- driverId: integer (nullable = true)
 |-- points: integer (nullable = true)
 |-- position: integer (nullable = true)
 |-- positionText: integer (nullable = true)
 |-- wins: integer (nullable = true)

In [38]:
circuits_df.show(5,false)

+---------+-----------+------------------------------+------------+---------+--------+-------+---+-----------------------------------------------------------+
|circuitId|circuitRef |name                          |location    |country  |lat     |lng    |alt|url                                                        |
+---------+-----------+------------------------------+------------+---------+--------+-------+---+-----------------------------------------------------------+
|1        |albert_park|Albert Park Grand Prix Circuit|Melbourne   |Australia|-37.8497|144.968|10 |http://en.wikipedia.org/wiki/Melbourne_Grand_Prix_Circuit  |
|2        |sepang     |Sepang International Circuit  |Kuala Lumpur|Malaysia |2.76083 |101.738|18 |http://en.wikipedia.org/wiki/Sepang_International_Circuit  |
|3        |bahrain    |Bahrain International Circuit |Sakhir      |Bahrain  |26.0325 |50.5106|7  |http://en.wikipedia.org/wiki/Bahrain_International_Circuit |
|4        |catalunya  |Circuit de Barcelona-Catalunya|Montmeló    |Spain    |41.57   |2.26111|109|http://en.wikipedia.org/wiki/Circuit_de_Barcelona-Catalunya|
|5        |istanbul   |Istanbul Park                 |Istanbul    |Turkey   |40.9517 |29.405 |130|http://en.wikipedia.org/wiki/Istanbul_Park                 |
+---------+-----------+------------------------------+------------+---------+--------+-------+---+-----------------------------------------------------------+
only showing top 5 rows

In [39]:
circuits_df.printSchema()

root
 |-- circuitId: string (nullable = true)
 |-- circuitRef: string (nullable = true)
 |-- name: string (nullable = true)
 |-- location: string (nullable = true)
 |-- country: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- lng: string (nullable = true)
 |-- alt: string (nullable = true)
 |-- url: string (nullable = true)

In [40]:
val circuits_df_clean = circuits_df
  .withColumn("circuitId", col("circuitId").cast("Integer"))
  .withColumn("lat", col("lat").cast("Double"))
  .withColumn("lng", col("lng").cast("Double"))
  .withColumn("alt", col("alt").cast("Integer"))

circuits_df_clean: org.apache.spark.sql.DataFrame = [circuitId: int, circuitRef: string ... 7 more fields]

In [41]:
circuits_df_clean.printSchema()

root
 |-- circuitId: integer (nullable = true)
 |-- circuitRef: string (nullable = true)
 |-- name: string (nullable = true)
 |-- location: string (nullable = true)
 |-- country: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lng: double (nullable = true)
 |-- alt: integer (nullable = true)
 |-- url: string (nullable = true)

In [42]:
laptimes_df.printSchema()

root
 |-- raceId: string (nullable = true)
 |-- driverId: string (nullable = true)
 |-- lap: string (nullable = true)
 |-- position: string (nullable = true)
 |-- time: string (nullable = true)
 |-- milliseconds: string (nullable = true)

In [43]:
laptimes_df.show(5,false)

+------+--------+---+--------+--------+------------+
|raceId|driverId|lap|position|time    |milliseconds|
+------+--------+---+--------+--------+------------+
|841   |20      |1  |1       |1:38.109|98109       |
|841   |20      |2  |1       |1:33.006|93006       |
|841   |20      |3  |1       |1:32.713|92713       |
|841   |20      |4  |1       |1:32.803|92803       |
|841   |20      |5  |1       |1:32.342|92342       |
+------+--------+---+--------+--------+------------+
only showing top 5 rows

In [44]:
val laptimes_df_clean = laptimes_df
  .withColumn("raceId", col("raceId").cast("Integer"))
  .withColumn("driverId", col("driverId").cast("Integer"))
  .withColumn("lap", col("lap").cast("Integer"))
  .withColumn("position", col("position").cast("Integer"))
  .withColumn("milliseconds", col("milliseconds").cast("Integer"))

laptimes_df_clean: org.apache.spark.sql.DataFrame = [raceId: int, driverId: int ... 4 more fields]

In [45]:
laptimes_df_clean.printSchema()

root
 |-- raceId: integer (nullable = true)
 |-- driverId: integer (nullable = true)
 |-- lap: integer (nullable = true)
 |-- position: integer (nullable = true)
 |-- time: string (nullable = true)
 |-- milliseconds: integer (nullable = true)

In [46]:
pitstops_df.printSchema()

root
 |-- raceId: string (nullable = true)
 |-- driverId: string (nullable = true)
 |-- stop: string (nullable = true)
 |-- lap: string (nullable = true)
 |-- time: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- milliseconds: string (nullable = true)

In [47]:
pitstops_df.show(5,false)

+------+--------+----+---+--------+--------+------------+
|raceId|driverId|stop|lap|time    |duration|milliseconds|
+------+--------+----+---+--------+--------+------------+
|841   |153     |1   |1  |17:05:23|26.898  |26898       |
|841   |30      |1   |1  |17:05:52|25.021  |25021       |
|841   |17      |1   |11 |17:20:48|23.426  |23426       |
|841   |4       |1   |12 |17:22:34|23.251  |23251       |
|841   |13      |1   |13 |17:24:10|23.842  |23842       |
+------+--------+----+---+--------+--------+------------+
only showing top 5 rows

In [48]:
val pitstops_df_clean = pitstops_df
  .withColumn("raceId", col("raceId").cast("Integer"))
  .withColumn("driverId", col("driverId").cast("Integer"))
  .withColumn("stop", col("stop").cast("Integer"))
  .withColumn("lap", col("lap").cast("Integer"))
  .withColumn("duration", col("duration").cast("Integer"))
  .withColumn("milliseconds", col("milliseconds").cast("Integer"))

pitstops_df_clean: org.apache.spark.sql.DataFrame = [raceId: int, driverId: int ... 5 more fields]

In [49]:
pitstops_df_clean.printSchema()

root
 |-- raceId: integer (nullable = true)
 |-- driverId: integer (nullable = true)
 |-- stop: integer (nullable = true)
 |-- lap: integer (nullable = true)
 |-- time: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- milliseconds: integer (nullable = true)

In [50]:
val result_df_copy = result_df_clean
val races_df_copy = races_df_clean
val drivers_df_copy = drivers_df_clean
val driver_standings_df_copy = driver_standings_df_clean
val constructor_df_copy = constructor_df_clean
val stats_df_copy = stats_df
val circuits_df_copy = circuits_df_clean
val laptimes_df_copy = laptimes_df_clean
val pitstops_df_copy = pitstops_df_clean
val seasons_df_copy = seasons_df

result_df_copy: org.apache.spark.sql.DataFrame = [resultId: int, raceId: int ... 16 more fields]
races_df_copy: org.apache.spark.sql.DataFrame = [raceId: int, year: int ... 16 more fields]
drivers_df_copy: org.apache.spark.sql.DataFrame = [driverId: int, driverRef: string ... 7 more fields]
driver_standings_df_copy: org.apache.spark.sql.DataFrame = [driverStandingsId: int, raceId: int ... 5 more fields]
constructor_df_copy: org.apache.spark.sql.DataFrame = [constructorId: int, constructorRef: string ... 3 more fields]
stats_df_copy: org.apache.spark.sql.DataFrame = [statusId: string, status: string]
circuits_df_copy: org.apache.spark.sql.DataFrame = [circuitId: int, circuitRef: string ... 7 more fields]
laptimes_df_copy: org.apache.spark.sql.DataFrame = [raceId: int, driverId: int ... 4...

In [51]:
val columnsToRename1 = List(("name", "race_name"), ("time", "race_time"),("url", "race_url"))

var races_df_copy = races_df_clean
for ((oldName, newName) <- columnsToRename1) {
  races_df_copy = races_df_copy.withColumnRenamed(oldName, newName)
}

val columnsToRename2 = List( ("url", "driver_url"),("nationality", "driver_nationality"))

var drivers_df_copy = drivers_df_clean
for ((oldName, newName) <- columnsToRename2) {
  drivers_df_copy = drivers_df_copy.withColumnRenamed(oldName, newName)
}

val columnsToRename3 = List(("name", "constructor_name"), ("url", "constructor_url"))

var constructor_df_copy = constructor_df_clean
for ((oldName, newName) <- columnsToRename3) {
  constructor_df_copy = constructor_df_copy.withColumnRenamed(oldName, newName)
}

val columnsToRename4 = List(("number", "result_number"),("position", "result_position"), ("positionText", "result_positionText"))

var result_df_copy = result_df_clean
for ((oldName, newName) <- columnsToRename4) {
  result_df_copy = result_df_copy.withColumnRenamed(oldName, newName)
}

val columnsToRename5 = List(("points", "driver_standings_points"), ("position", "driver_standings_position"), ("positionText", "driver_standings_positionText"), ("raceId", "driver_standings_raceId"))

var driver_standings_df_copy = driver_standings_df_clean
for ((oldName, newName) <- columnsToRename5) {
  driver_standings_df_copy = driver_standings_df_copy.withColumnRenamed(oldName, newName)
}

val columnsToRename6 = List(("name", "circuits_name"), ("url", "circuits_url"))

var circuits_df_copy = circuits_df_clean
for ((oldName, newName) <- columnsToRename6) {
  circuits_df_copy = circuits_df_copy.withColumnRenamed(oldName, newName)
}

columnsToRename1: List[(String, String)] = List((name,race_name), (time,race_time), (url,race_url))
races_df_copy: org.apache.spark.sql.DataFrame = [raceId: int, year: int ... 16 more fields]
columnsToRename2: List[(String, String)] = List((url,driver_url), (nationality,driver_nationality))
drivers_df_copy: org.apache.spark.sql.DataFrame = [driverId: int, driverRef: string ... 7 more fields]
columnsToRename3: List[(String, String)] = List((name,constructor_name), (url,constructor_url))
constructor_df_copy: org.apache.spark.sql.DataFrame = [constructorId: int, constructorRef: string ... 3 more fields]
columnsToRename4: List[(String, String)] = List((number,result_number), (position,result_position), (positionText,result_positionText))
result_df_copy: org.apache.spark.sql.DataFrame = [res...

In [52]:
val con1 = result_df_copy.join(races_df_copy, Seq("raceId"), "inner")
val con2 = con1.join(drivers_df_copy, Seq("driverId"), "inner")
val con3 = con2.join(driver_standings_df_copy, Seq("driverId"), "inner")
val con4 = con3.join(constructor_df_copy, Seq("constructorId"), "inner")
val con5 = con4.join(circuits_df_copy, Seq("circuitId"), "inner")
val df = con5.join(stats_df, Seq("statusId"), "inner")
// con2 = pd.merge(con1, drivers_df, on = 'driverId')
// con3 = pd.merge(con2, driver_standings_df, on = 'driverId')
// con4 = pd.merge(con3, constructor_df, on ='constructorId')
// df = pd.merge(con4, stats_df, on ='statusId')
df.show(5,false)

23/04/20 13:14:38 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
+--------+---------+-------------+--------+------+--------+-------------+----+---------------+-------------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+----+-----+---------------------+----------+-------------------+-------------------------------------------------------+--------+--------+--------+--------+--------+--------+----------+----------+-----------+-----------+---------+------+----+--------+--------+----------+------------------+-------------------------------------------+-----------------+-----------------------+-----------------------+-------------------------+-----------------------------+----+--------------+----------------+-----------+------------------------------------+-----------+------------------------------+---------+---------+--------+-------+---+---------------------------------------------------------+--------+
|statusId|circuitId|constructorId|driverId|raceId|resultId|result_number|grid|result_position|result_positionText|positionOrder|points|laps|time       |milliseconds|fastestLap|rank|fastestLapTime|fastestLapSpeed|year|round|race_name            |date      |race_time          |race_url                                               |fp1_date|fp1_time|fp2_date|fp2_time|fp3_date|fp3_time|quali_date|quali_time|sprint_date|sprint_time|driverRef|number|code|forename|surname |dob       |driver_nationality|driver_url                                 |driverStandingsId|driver_standings_raceId|driver_standings_points|driver_standings_position|driver_standings_positionText|wins|constructorRef|constructor_name|nationality|constructor_url                     |circuitRef |circuits_name                 |location |country  |lat     |lng    |alt|circuits_url                                             |status  |
+--------+---------+-------------+--------+------+--------+-------------+----+---------------+-------------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+----+-----+---------------------+----------+-------------------+-------------------------------------------------------+--------+--------+--------+--------+--------+--------+----------+----------+-----------+-----------+---------+------+----+--------+--------+----------+------------------+-------------------------------------------+-----------------+-----------------------+-----------------------+-------------------------+-----------------------------+----+--------------+----------------+-----------+------------------------------------+-----------+------------------------------+---------+---------+--------+-------+---+---------------------------------------------------------+--------+
|1       |1        |1            |1       |18    |1       |22           |1   |1              |1                  |1            |10    |58  |1:34:50.616|5690616     |39        |2   |1:27.452      |218.3          |2008|1    |Australian Grand Prix|2008-03-16|1970-01-01 04:30:00|http://en.wikipedia.org/wiki/2008_Australian_Grand_Prix|\N      |\N      |\N      |\N      |\N      |\N      |\N        |\N        |\N         |\N         |hamilton |44    |HAM |Lewis   |Hamilton|1985-01-07|British           |http://en.wikipedia.org/wiki/Lewis_Hamilton|71830            |1098                   |0                      |5                        |5                            |0   |mclaren       |McLaren         |British    |http://en.wikipedia.org/wiki/McLaren|albert_park|Albert Park Grand Prix Circuit|Melbourne|Australia|-37.8497|144.968|10 |http://en.wikipedia.org/wiki/Melbourne_Grand_Prix_Circuit|Finished|
|1       |1        |1            |1       |18    |1       |22           |1   |1              |1                  |1            |10    |58  |1:34:50.616|5690616     |39        |2   |1:27.452      |218.3          |2008|1    |Australian Grand Prix|2008-03-16|1970-01-01 04:30:00|http://en.wikipedia.org/wiki/2008_Australian_Grand_Prix|\N      |\N      |\N      |\N      |\N      |\N      |\N        |\N        |\N         |\N         |hamilton |44    |HAM |Lewis   |Hamilton|1985-01-07|British           |http://en.wikipedia.org/wiki/Lewis_Hamilton|71806            |1096                   |240                    |6                        |6                            |0   |mclaren       |McLaren         |British    |http://en.wikipedia.org/wiki/McLaren|albert_park|Albert Park Grand Prix Circuit|Melbourne|Australia|-37.8497|144.968|10 |http://en.wikipedia.org/wiki/Melbourne_Grand_Prix_Circuit|Finished|
|1       |1        |1            |1       |18    |1       |22           |1   |1              |1                  |1            |10    |58  |1:34:50.616|5690616     |39        |2   |1:27.452      |218.3          |2008|1    |Australian Grand Prix|2008-03-16|1970-01-01 04:30:00|http://en.wikipedia.org/wiki/2008_Australian_Grand_Prix|\N      |\N      |\N      |\N      |\N      |\N      |\N        |\N        |\N         |\N         |hamilton |44    |HAM |Lewis   |Hamilton|1985-01-07|British           |http://en.wikipedia.org/wiki/Lewis_Hamilton|71784            |1095                   |240                    |5                        |5                            |0   |mclaren       |McLaren         |British    |http://en.wikipedia.org/wiki/McLaren|albert_park|Albert Park Grand Prix Circuit|Melbourne|Australia|-37.8497|144.968|10 |http://en.wikipedia.org/wiki/Melbourne_Grand_Prix_Circuit|Finished|
|1       |1        |1            |1       |18    |1       |22           |1   |1              |1                  |1            |10    |58  |1:34:50.616|5690616     |39        |2   |1:27.452      |218.3          |2008|1    |Australian Grand Prix|2008-03-16|1970-01-01 04:30:00|http://en.wikipedia.org/wiki/2008_Australian_Grand_Prix|\N      |\N      |\N      |\N      |\N      |\N      |\N        |\N        |\N         |\N         |hamilton |44    |HAM |Lewis   |Hamilton|1985-01-07|British           |http://en.wikipedia.org/wiki/Lewis_Hamilton|71762            |1094                   |216                    |5                        |5                            |0   |mclaren       |McLaren         |British    |http://en.wikipedia.org/wiki/McLaren|albert_park|Albert Park Grand Prix Circuit|Melbourne|Australia|-37.8497|144.968|10 |http://en.wikipedia.org/wiki/Melbourne_Grand_Prix_Circuit|Finished|
|1       |1        |1            |1       |18    |1       |22           |1   |1              |1                  |1            |10    |58  |1:34:50.616|5690616     |39        |2   |1:27.452      |218.3          |2008|1    |Australian Grand Prix|2008-03-16|1970-01-01 04:30:00|http://en.wikipedia.org/wiki/2008_Australian_Grand_Prix|\N      |\N      |\N      |\N      |\N      |\N      |\N        |\N        |\N         |\N         |hamilton |44    |HAM |Lewis   |Hamilton|1985-01-07|British           |http://en.wikipedia.org/wiki/Lewis_Hamilton|71740            |1093                   |198                    |6                        |6                            |0   |mclaren       |McLaren         |British    |http://en.wikipedia.org/wiki/McLaren|albert_park|Albert Park Grand Prix Circuit|Melbourne|Australia|-37.8497|144.968|10 |http://en.wikipedia.org/wiki/Melbourne_Grand_Prix_Circuit|Finished|
+--------+---------+-------------+--------+------+--------+-------------+----+---------------+-------------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+----+-----+---------------------+----------+-------------------+-------------------------------------------------------+--------+--------+--------+--------+--------+--------+----------+----------+-----------+-----------+---------+------+----+--------+--------+----------+------------------+-------------------------------------------+-----------------+-----------------------+-----------------------+-------------------------+-----------------------------+----+--------------+----------------+-----------+------------------------------------+-----------+------------------------------+---------+---------+--------+-------+---+---------------------------------------------------------+--------+
only showing top 5 rows

con1: org.apache.spark.sql.DataFrame = [raceId: int, resultId: int ... 33 more fields]
con2: org.apache.spark.sql.DataFrame = [driverId: int, raceId: int ... 41 more fields]
con3: org.apache.spark.sql.DataFrame = [driverId: int, raceId: int ... 47 more fields]
con4: org.apache.spark.sql.DataFrame = [constructorId: int, driverId: int ... 51 more fields]
con5: org.apache.spark.sql.DataFrame = [circuitId: int, constructorId: int ... 59 more fields]
df: org.apache.spark.sql.DataFrame = [statusId: int, circuitId: int ... 60 more fields]

In [53]:
df.printSchema()

root
 |-- statusId: integer (nullable = true)
 |-- circuitId: integer (nullable = true)
 |-- constructorId: integer (nullable = true)
 |-- driverId: integer (nullable = true)
 |-- raceId: integer (nullable = true)
 |-- resultId: integer (nullable = true)
 |-- result_number: integer (nullable = true)
 |-- grid: integer (nullable = true)
 |-- result_position: integer (nullable = true)
 |-- result_positionText: integer (nullable = true)
 |-- positionOrder: integer (nullable = true)
 |-- points: integer (nullable = true)
 |-- laps: integer (nullable = true)
 |-- time: string (nullable = true)
 |-- milliseconds: integer (nullable = true)
 |-- fastestLap: integer (nullable = true)
 |-- rank: integer (nullable = true)
 |-- fastestLapTime: string (nullable = true)
 |-- fastestLapSpeed: double (nullable = true)
 |-- year: integer (nullable = true)
 |-- round: integer (nullable = true)
 |-- race_name: string (nullable = true)
 |-- date: date (nullable = true)
 |-- race_time: timestamp (nullable = true)
 |-- race_url: string (nullable = true)
 |-- fp1_date: string (nullable = true)
 |-- fp1_time: string (nullable = true)
 |-- fp2_date: string (nullable = true)
 |-- fp2_time: string (nullable = true)
 |-- fp3_date: string (nullable = true)
 |-- fp3_time: string (nullable = true)
 |-- quali_date: string (nullable = true)
 |-- quali_time: string (nullable = true)
 |-- sprint_date: string (nullable = true)
 |-- sprint_time: string (nullable = true)
 |-- driverRef: string (nullable = true)
 |-- number: integer (nullable = true)
 |-- code: string (nullable = true)
 |-- forename: string (nullable = true)
 |-- surname: string (nullable = true)
 |-- dob: date (nullable = true)
 |-- driver_nationality: string (nullable = true)
 |-- driver_url: string (nullable = true)
 |-- driverStandingsId: integer (nullable = true)
 |-- driver_standings_raceId: integer (nullable = true)
 |-- driver_standings_points: integer (nullable = true)
 |-- driver_standings_position: integer (nullable = true)
 |-- driver_standings_positionText: integer (nullable = true)
 |-- wins: integer (nullable = true)
 |-- constructorRef: string (nullable = true)
 |-- constructor_name: string (nullable = true)
 |-- nationality: string (nullable = true)
 |-- constructor_url: string (nullable = true)
 |-- circuitRef: string (nullable = true)
 |-- circuits_name: string (nullable = true)
 |-- location: string (nullable = true)
 |-- country: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lng: double (nullable = true)
 |-- alt: integer (nullable = true)
 |-- circuits_url: string (nullable = true)
 |-- status: string (nullable = true)

In [ ]:
import org.apache.spark.sql.{DataFrame, SparkSession}
// Define the output directory
val outputDir = "/Users/anirudhajoshi/Documents/NEU_Work/NEU_Spring2023_Work/Big_Data_Scala/Final_Project/cleaned_data"

// Define a function to save a dataframe to CSV
def saveToCSV(df: DataFrame, filename: String): Unit = {
    df.coalesce(1).write.format("csv")
  //df.write.format("csv")
    .option("header", "true")
    .mode("overwrite")
    .save(outputDir + "/" + filename)
}

// Save the dataframes to CSV
saveToCSV(result_df_clean, "result.csv")
saveToCSV(races_df_clean, "races.csv")
saveToCSV(drivers_df_clean, "drivers.csv")
saveToCSV(driver_standings_df_clean, "driver_standings.csv")
saveToCSV(constructor_df_clean, "constructor.csv")
saveToCSV(stats_df, "stats.csv")
saveToCSV(circuits_df_clean, "circuits.csv")
saveToCSV(laptimes_df_clean, "laptimes.csv")
saveToCSV(pitstops_df_clean, "pitstops_df.csv")
saveToCSV(seasons_df, "seasons.csv")
saveToCSV(df, "all.csv")