In [1]:
import org.apache.spark.sql.SparkSession

val spark = SparkSession
  .builder()
  .appName("f1-project")
  .getOrCreate()

Intitializing Scala interpreter ...

Spark Web UI available at http://10.110.86.43:4040
SparkContext available as 'sc' (version = 3.3.2, master = local[*], app id = local-1680303585504)
SparkSession available as 'spark'

23/03/31 18:59:48 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

import org.apache.spark.sql.SparkSession
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@5f30e7a1

In [2]:
val sc = spark.sparkContext

sc: org.apache.spark.SparkContext = org.apache.spark.SparkContext@46e24902

In [3]:
val result_df = spark.read.option("header", "true").csv("data/results.csv")
val stats_df = spark.read.option("header", "true").csv("data/status.csv")
val drivers_df = spark.read.option("header", "true").csv("data/drivers.csv")
val races_df = spark.read.option("header", "true").csv("data/races.csv")
val constructor_df = spark.read.option("header", "true").csv("data/constructors.csv")
val driver_standings_df = spark.read.option("header", "true").csv("data/driver_standings.csv")

result_df: org.apache.spark.sql.DataFrame = [resultId: string, raceId: string ... 16 more fields]
stats_df: org.apache.spark.sql.DataFrame = [statusId: string, status: string]
drivers_df: org.apache.spark.sql.DataFrame = [driverId: string, driverRef: string ... 7 more fields]
races_df: org.apache.spark.sql.DataFrame = [raceId: string, year: string ... 16 more fields]
constructor_df: org.apache.spark.sql.DataFrame = [constructorId: string, constructorRef: string ... 3 more fields]
driver_standings_df: org.apache.spark.sql.DataFrame = [driverStandingsId: string, raceId: string ... 5 more fields]

In [4]:
result_df.show(5,false)

+--------+------+--------+-------------+------+----+--------+------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+--------+
|resultId|raceId|driverId|constructorId|number|grid|position|positionText|positionOrder|points|laps|time       |milliseconds|fastestLap|rank|fastestLapTime|fastestLapSpeed|statusId|
+--------+------+--------+-------------+------+----+--------+------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+--------+
|1       |18    |1       |1            |22    |1   |1       |1           |1            |10    |58  |1:34:50.616|5690616     |39        |2   |1:27.452      |218.300        |1       |
|2       |18    |2       |2            |3     |5   |2       |2           |2            |8     |58  |+5.478     |5696094     |41        |3   |1:27.739      |217.586        |1       |
|3       |18    |3       |3            |7     |7   |3       |3           |3            |6     |58  |+8.163     |5698779     |41        |5   |1:28.090      |216.719        |1       |
|4       |18    |4       |4            |5     |11  |4       |4           |4            |5     |58  |+17.181    |5707797     |58        |7   |1:28.603      |215.464        |1       |
|5       |18    |5       |1            |23    |3   |5       |5           |5            |4     |58  |+18.014    |5708630     |43        |1   |1:27.418      |218.385        |1       |
+--------+------+--------+-------------+------+----+--------+------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+--------+
only showing top 5 rows

In [5]:
stats_df.show(5,false)

+--------+------------+
|statusId|status      |
+--------+------------+
|1       |Finished    |
|2       |Disqualified|
|3       |Accident    |
|4       |Collision   |
|5       |Engine      |
+--------+------------+
only showing top 5 rows

In [6]:
drivers_df.show(5,false)

+--------+----------+------+----+--------+----------+----------+-----------+----------------------------------------------+
|driverId|driverRef |number|code|forename|surname   |dob       |nationality|url                                           |
+--------+----------+------+----+--------+----------+----------+-----------+----------------------------------------------+
|1       |hamilton  |44    |HAM |Lewis   |Hamilton  |1985-01-07|British    |http://en.wikipedia.org/wiki/Lewis_Hamilton   |
|2       |heidfeld  |\N    |HEI |Nick    |Heidfeld  |1977-05-10|German     |http://en.wikipedia.org/wiki/Nick_Heidfeld    |
|3       |rosberg   |6     |ROS |Nico    |Rosberg   |1985-06-27|German     |http://en.wikipedia.org/wiki/Nico_Rosberg     |
|4       |alonso    |14    |ALO |Fernando|Alonso    |1981-07-29|Spanish    |http://en.wikipedia.org/wiki/Fernando_Alonso  |
|5       |kovalainen|\N    |KOV |Heikki  |Kovalainen|1981-10-19|Finnish    |http://en.wikipedia.org/wiki/Heikki_Kovalainen|
+--------+----------+------+----+--------+----------+----------+-----------+----------------------------------------------+
only showing top 5 rows

In [7]:
races_df.show(5,false)

+------+----+-----+---------+---------------------+----------+--------+-------------------------------------------------------+--------+--------+--------+--------+--------+--------+----------+----------+-----------+-----------+
|raceId|year|round|circuitId|name                 |date      |time    |url                                                    |fp1_date|fp1_time|fp2_date|fp2_time|fp3_date|fp3_time|quali_date|quali_time|sprint_date|sprint_time|
+------+----+-----+---------+---------------------+----------+--------+-------------------------------------------------------+--------+--------+--------+--------+--------+--------+----------+----------+-----------+-----------+
|1     |2009|1    |1        |Australian Grand Prix|2009-03-29|06:00:00|http://en.wikipedia.org/wiki/2009_Australian_Grand_Prix|\N      |\N      |\N      |\N      |\N      |\N      |\N        |\N        |\N         |\N         |
|2     |2009|2    |2        |Malaysian Grand Prix |2009-04-05|09:00:00|http://en.wikipedia.org/wiki/2009_Malaysian_Grand_Prix |\N      |\N      |\N      |\N      |\N      |\N      |\N        |\N        |\N         |\N         |
|3     |2009|3    |17       |Chinese Grand Prix   |2009-04-19|07:00:00|http://en.wikipedia.org/wiki/2009_Chinese_Grand_Prix   |\N      |\N      |\N      |\N      |\N      |\N      |\N        |\N        |\N         |\N         |
|4     |2009|4    |3        |Bahrain Grand Prix   |2009-04-26|12:00:00|http://en.wikipedia.org/wiki/2009_Bahrain_Grand_Prix   |\N      |\N      |\N      |\N      |\N      |\N      |\N        |\N        |\N         |\N         |
|5     |2009|5    |4        |Spanish Grand Prix   |2009-05-10|12:00:00|http://en.wikipedia.org/wiki/2009_Spanish_Grand_Prix   |\N      |\N      |\N      |\N      |\N      |\N      |\N        |\N        |\N         |\N         |
+------+----+-----+---------+---------------------+----------+--------+-------------------------------------------------------+--------+--------+--------+--------+--------+--------+----------+----------+-----------+-----------+
only showing top 5 rows

In [8]:
constructor_df.show(5,false)

+-------------+--------------+----------+-----------+------------------------------------------------------------+
|constructorId|constructorRef|name      |nationality|url                                                         |
+-------------+--------------+----------+-----------+------------------------------------------------------------+
|1            |mclaren       |McLaren   |British    |http://en.wikipedia.org/wiki/McLaren                        |
|2            |bmw_sauber    |BMW Sauber|German     |http://en.wikipedia.org/wiki/BMW_Sauber                     |
|3            |williams      |Williams  |British    |http://en.wikipedia.org/wiki/Williams_Grand_Prix_Engineering|
|4            |renault       |Renault   |French     |http://en.wikipedia.org/wiki/Renault_in_Formula_One         |
|5            |toro_rosso    |Toro Rosso|Italian    |http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso            |
+-------------+--------------+----------+-----------+------------------------------------------------------------+
only showing top 5 rows

In [9]:
driver_standings_df.show(5,false)

+-----------------+------+--------+------+--------+------------+----+
|driverStandingsId|raceId|driverId|points|position|positionText|wins|
+-----------------+------+--------+------+--------+------------+----+
|1                |18    |1       |10    |1       |1           |1   |
|2                |18    |2       |8     |2       |2           |0   |
|3                |18    |3       |6     |3       |3           |0   |
|4                |18    |4       |5     |4       |4           |0   |
|5                |18    |5       |4     |5       |5           |0   |
+-----------------+------+--------+------+--------+------------+----+
only showing top 5 rows

### Feature Engineering

In [10]:
import org.apache.spark.sql.functions.col

import org.apache.spark.sql.functions.col

In [11]:

races_df.select(col("raceId")).show(5,false)

+------+
|raceId|
+------+
|1     |
|2     |
|3     |
|4     |
|5     |
+------+
only showing top 5 rows

In [12]:
races_df.printSchema()

root
 |-- raceId: string (nullable = true)
 |-- year: string (nullable = true)
 |-- round: string (nullable = true)
 |-- circuitId: string (nullable = true)
 |-- name: string (nullable = true)
 |-- date: string (nullable = true)
 |-- time: string (nullable = true)
 |-- url: string (nullable = true)
 |-- fp1_date: string (nullable = true)
 |-- fp1_time: string (nullable = true)
 |-- fp2_date: string (nullable = true)
 |-- fp2_time: string (nullable = true)
 |-- fp3_date: string (nullable = true)
 |-- fp3_time: string (nullable = true)
 |-- quali_date: string (nullable = true)
 |-- quali_time: string (nullable = true)
 |-- sprint_date: string (nullable = true)
 |-- sprint_time: string (nullable = true)

In [13]:
val races_df_clean = races_df
  .withColumn("raceId", col("raceId").cast("Integer"))
  .withColumn("year", col("year").cast("Integer"))
  .withColumn("round", col("round").cast("Integer"))
  .withColumn("circuitId", col("circuitId").cast("Integer"))
  .withColumn("date", to_date(col("date"), "yyyy-MM-dd"))
  .withColumn("time", to_timestamp(col("time"), "HH:mm:ss"))
  //.withColumn("PassengerId", col("PassengerId").cast("Integer"))

races_df_clean: org.apache.spark.sql.DataFrame = [raceId: int, year: int ... 16 more fields]

In [14]:
races_df_clean.show(5,false)

+------+----+-----+---------+---------------------+----------+-------------------+-------------------------------------------------------+--------+--------+--------+--------+--------+--------+----------+----------+-----------+-----------+
|raceId|year|round|circuitId|name                 |date      |time               |url                                                    |fp1_date|fp1_time|fp2_date|fp2_time|fp3_date|fp3_time|quali_date|quali_time|sprint_date|sprint_time|
+------+----+-----+---------+---------------------+----------+-------------------+-------------------------------------------------------+--------+--------+--------+--------+--------+--------+----------+----------+-----------+-----------+
|1     |2009|1    |1        |Australian Grand Prix|2009-03-29|1970-01-01 06:00:00|http://en.wikipedia.org/wiki/2009_Australian_Grand_Prix|\N      |\N      |\N      |\N      |\N      |\N      |\N        |\N        |\N         |\N         |
|2     |2009|2    |2        |Malaysian Grand Prix |2009-04-05|1970-01-01 09:00:00|http://en.wikipedia.org/wiki/2009_Malaysian_Grand_Prix |\N      |\N      |\N      |\N      |\N      |\N      |\N        |\N        |\N         |\N         |
|3     |2009|3    |17       |Chinese Grand Prix   |2009-04-19|1970-01-01 07:00:00|http://en.wikipedia.org/wiki/2009_Chinese_Grand_Prix   |\N      |\N      |\N      |\N      |\N      |\N      |\N        |\N        |\N         |\N         |
|4     |2009|4    |3        |Bahrain Grand Prix   |2009-04-26|1970-01-01 12:00:00|http://en.wikipedia.org/wiki/2009_Bahrain_Grand_Prix   |\N      |\N      |\N      |\N      |\N      |\N      |\N        |\N        |\N         |\N         |
|5     |2009|5    |4        |Spanish Grand Prix   |2009-05-10|1970-01-01 12:00:00|http://en.wikipedia.org/wiki/2009_Spanish_Grand_Prix   |\N      |\N      |\N      |\N      |\N      |\N      |\N        |\N        |\N         |\N         |
+------+----+-----+---------+---------------------+----------+-------------------+-------------------------------------------------------+--------+--------+--------+--------+--------+--------+----------+----------+-----------+-----------+
only showing top 5 rows

In [15]:
races_df_clean.printSchema()

root
 |-- raceId: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- round: integer (nullable = true)
 |-- circuitId: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- date: date (nullable = true)
 |-- time: timestamp (nullable = true)
 |-- url: string (nullable = true)
 |-- fp1_date: string (nullable = true)
 |-- fp1_time: string (nullable = true)
 |-- fp2_date: string (nullable = true)
 |-- fp2_time: string (nullable = true)
 |-- fp3_date: string (nullable = true)
 |-- fp3_time: string (nullable = true)
 |-- quali_date: string (nullable = true)
 |-- quali_time: string (nullable = true)
 |-- sprint_date: string (nullable = true)
 |-- sprint_time: string (nullable = true)

In [16]:
result_df.printSchema()

root
 |-- resultId: string (nullable = true)
 |-- raceId: string (nullable = true)
 |-- driverId: string (nullable = true)
 |-- constructorId: string (nullable = true)
 |-- number: string (nullable = true)
 |-- grid: string (nullable = true)
 |-- position: string (nullable = true)
 |-- positionText: string (nullable = true)
 |-- positionOrder: string (nullable = true)
 |-- points: string (nullable = true)
 |-- laps: string (nullable = true)
 |-- time: string (nullable = true)
 |-- milliseconds: string (nullable = true)
 |-- fastestLap: string (nullable = true)
 |-- rank: string (nullable = true)
 |-- fastestLapTime: string (nullable = true)
 |-- fastestLapSpeed: string (nullable = true)
 |-- statusId: string (nullable = true)

In [17]:
result_df.show(5,false)

+--------+------+--------+-------------+------+----+--------+------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+--------+
|resultId|raceId|driverId|constructorId|number|grid|position|positionText|positionOrder|points|laps|time       |milliseconds|fastestLap|rank|fastestLapTime|fastestLapSpeed|statusId|
+--------+------+--------+-------------+------+----+--------+------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+--------+
|1       |18    |1       |1            |22    |1   |1       |1           |1            |10    |58  |1:34:50.616|5690616     |39        |2   |1:27.452      |218.300        |1       |
|2       |18    |2       |2            |3     |5   |2       |2           |2            |8     |58  |+5.478     |5696094     |41        |3   |1:27.739      |217.586        |1       |
|3       |18    |3       |3            |7     |7   |3       |3           |3            |6     |58  |+8.163     |5698779     |41        |5   |1:28.090      |216.719        |1       |
|4       |18    |4       |4            |5     |11  |4       |4           |4            |5     |58  |+17.181    |5707797     |58        |7   |1:28.603      |215.464        |1       |
|5       |18    |5       |1            |23    |3   |5       |5           |5            |4     |58  |+18.014    |5708630     |43        |1   |1:27.418      |218.385        |1       |
+--------+------+--------+-------------+------+----+--------+------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+--------+
only showing top 5 rows

In [22]:
val result_df_clean = result_df
  .withColumn("resultId", col("resultId").cast("Integer"))
  .withColumn("raceId", col("raceId").cast("Integer"))
  .withColumn("driverId", col("driverId").cast("Integer"))
  .withColumn("constructorId", col("constructorId").cast("Integer"))
  .withColumn("number", col("number").cast("Integer"))
  .withColumn("grid", col("grid").cast("Integer"))
  .withColumn("position", col("position").cast("Integer"))
  .withColumn("positionText", col("positionText").cast("Integer"))
  .withColumn("positionOrder", col("positionOrder").cast("Integer"))
  .withColumn("points", col("points").cast("Integer"))
  .withColumn("laps", col("laps").cast("Integer"))
  .withColumn("milliseconds", col("milliseconds").cast("Integer"))
  .withColumn("fastestLap", col("fastestLap").cast("Integer"))
  .withColumn("rank", col("rank").cast("Integer"))
  .withColumn("statusId", col("statusId").cast("Integer"))
  .withColumn("fastestLapSpeed", col("fastestLapSpeed").cast("Double"))
  //.withColumn("date", to_date(col("date"), "yyyy-MM-dd"))
  //.withColumn("fastestLapTime", to_timestamp(col("fastestLapTime"), "HH:mm.sss"))

result_df_clean: org.apache.spark.sql.DataFrame = [resultId: int, raceId: int ... 16 more fields]

In [23]:
result_df_clean.show(5,false)

+--------+------+--------+-------------+------+----+--------+------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+--------+
|resultId|raceId|driverId|constructorId|number|grid|position|positionText|positionOrder|points|laps|time       |milliseconds|fastestLap|rank|fastestLapTime|fastestLapSpeed|statusId|
+--------+------+--------+-------------+------+----+--------+------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+--------+
|1       |18    |1       |1            |22    |1   |1       |1           |1            |10    |58  |1:34:50.616|5690616     |39        |2   |1:27.452      |218.3          |1       |
|2       |18    |2       |2            |3     |5   |2       |2           |2            |8     |58  |+5.478     |5696094     |41        |3   |1:27.739      |217.586        |1       |
|3       |18    |3       |3            |7     |7   |3       |3           |3            |6     |58  |+8.163     |5698779     |41        |5   |1:28.090      |216.719        |1       |
|4       |18    |4       |4            |5     |11  |4       |4           |4            |5     |58  |+17.181    |5707797     |58        |7   |1:28.603      |215.464        |1       |
|5       |18    |5       |1            |23    |3   |5       |5           |5            |4     |58  |+18.014    |5708630     |43        |1   |1:27.418      |218.385        |1       |
+--------+------+--------+-------------+------+----+--------+------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+--------+
only showing top 5 rows

In [25]:
result_df_clean.printSchema()

root
 |-- resultId: integer (nullable = true)
 |-- raceId: integer (nullable = true)
 |-- driverId: integer (nullable = true)
 |-- constructorId: integer (nullable = true)
 |-- number: integer (nullable = true)
 |-- grid: integer (nullable = true)
 |-- position: integer (nullable = true)
 |-- positionText: integer (nullable = true)
 |-- positionOrder: integer (nullable = true)
 |-- points: integer (nullable = true)
 |-- laps: integer (nullable = true)
 |-- time: string (nullable = true)
 |-- milliseconds: integer (nullable = true)
 |-- fastestLap: integer (nullable = true)
 |-- rank: integer (nullable = true)
 |-- fastestLapTime: string (nullable = true)
 |-- fastestLapSpeed: double (nullable = true)
 |-- statusId: integer (nullable = true)

In [26]:
drivers_df.show(5,false)

+--------+----------+------+----+--------+----------+----------+-----------+----------------------------------------------+
|driverId|driverRef |number|code|forename|surname   |dob       |nationality|url                                           |
+--------+----------+------+----+--------+----------+----------+-----------+----------------------------------------------+
|1       |hamilton  |44    |HAM |Lewis   |Hamilton  |1985-01-07|British    |http://en.wikipedia.org/wiki/Lewis_Hamilton   |
|2       |heidfeld  |\N    |HEI |Nick    |Heidfeld  |1977-05-10|German     |http://en.wikipedia.org/wiki/Nick_Heidfeld    |
|3       |rosberg   |6     |ROS |Nico    |Rosberg   |1985-06-27|German     |http://en.wikipedia.org/wiki/Nico_Rosberg     |
|4       |alonso    |14    |ALO |Fernando|Alonso    |1981-07-29|Spanish    |http://en.wikipedia.org/wiki/Fernando_Alonso  |
|5       |kovalainen|\N    |KOV |Heikki  |Kovalainen|1981-10-19|Finnish    |http://en.wikipedia.org/wiki/Heikki_Kovalainen|
+--------+----------+------+----+--------+----------+----------+-----------+----------------------------------------------+
only showing top 5 rows

In [27]:
drivers_df.printSchema()

root
 |-- driverId: string (nullable = true)
 |-- driverRef: string (nullable = true)
 |-- number: string (nullable = true)
 |-- code: string (nullable = true)
 |-- forename: string (nullable = true)
 |-- surname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- nationality: string (nullable = true)
 |-- url: string (nullable = true)

In [34]:
val drivers_df_clean = drivers_df
  .withColumn("driverId", col("driverId").cast("Integer"))
  .withColumn("number", col("number").cast("Integer"))
  .withColumn("dob", to_date(col("dob"), "yyyy-MM-dd"))

drivers_df_clean: org.apache.spark.sql.DataFrame = [driverId: int, driverRef: string ... 7 more fields]

In [35]:
drivers_df_clean.printSchema()

root
 |-- driverId: integer (nullable = true)
 |-- driverRef: string (nullable = true)
 |-- number: integer (nullable = true)
 |-- code: string (nullable = true)
 |-- forename: string (nullable = true)
 |-- surname: string (nullable = true)
 |-- dob: date (nullable = true)
 |-- nationality: string (nullable = true)
 |-- url: string (nullable = true)

In [30]:
constructor_df.show(5,false)

+-------------+--------------+----------+-----------+------------------------------------------------------------+
|constructorId|constructorRef|name      |nationality|url                                                         |
+-------------+--------------+----------+-----------+------------------------------------------------------------+
|1            |mclaren       |McLaren   |British    |http://en.wikipedia.org/wiki/McLaren                        |
|2            |bmw_sauber    |BMW Sauber|German     |http://en.wikipedia.org/wiki/BMW_Sauber                     |
|3            |williams      |Williams  |British    |http://en.wikipedia.org/wiki/Williams_Grand_Prix_Engineering|
|4            |renault       |Renault   |French     |http://en.wikipedia.org/wiki/Renault_in_Formula_One         |
|5            |toro_rosso    |Toro Rosso|Italian    |http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso            |
+-------------+--------------+----------+-----------+------------------------------------------------------------+
only showing top 5 rows

In [31]:
constructor_df.printSchema()

root
 |-- constructorId: string (nullable = true)
 |-- constructorRef: string (nullable = true)
 |-- name: string (nullable = true)
 |-- nationality: string (nullable = true)
 |-- url: string (nullable = true)

In [33]:
val constructor_df_clean = constructor_df
  .withColumn("constructorId", col("constructorId").cast("Integer"))

constructor_df_clean: org.apache.spark.sql.DataFrame = [constructorId: int, constructorRef: string ... 3 more fields]

In [36]:
constructor_df_clean.printSchema()

root
 |-- constructorId: integer (nullable = true)
 |-- constructorRef: string (nullable = true)
 |-- name: string (nullable = true)
 |-- nationality: string (nullable = true)
 |-- url: string (nullable = true)

In [37]:
driver_standings_df.show(5,false)

+-----------------+------+--------+------+--------+------------+----+
|driverStandingsId|raceId|driverId|points|position|positionText|wins|
+-----------------+------+--------+------+--------+------------+----+
|1                |18    |1       |10    |1       |1           |1   |
|2                |18    |2       |8     |2       |2           |0   |
|3                |18    |3       |6     |3       |3           |0   |
|4                |18    |4       |5     |4       |4           |0   |
|5                |18    |5       |4     |5       |5           |0   |
+-----------------+------+--------+------+--------+------------+----+
only showing top 5 rows

In [38]:
driver_standings_df.printSchema()

root
 |-- driverStandingsId: string (nullable = true)
 |-- raceId: string (nullable = true)
 |-- driverId: string (nullable = true)
 |-- points: string (nullable = true)
 |-- position: string (nullable = true)
 |-- positionText: string (nullable = true)
 |-- wins: string (nullable = true)

In [39]:
val driver_standings_df_clean = driver_standings_df
  .withColumn("driverStandingsId", col("driverStandingsId").cast("Integer"))
  .withColumn("raceId", col("raceId").cast("Integer"))
  .withColumn("driverId", col("driverId").cast("Integer"))
  .withColumn("points", col("points").cast("Integer"))
  .withColumn("position", col("position").cast("Integer"))
  .withColumn("positionText", col("positionText").cast("Integer"))
  .withColumn("wins", col("wins").cast("Integer"))

driver_standings_df_clean: org.apache.spark.sql.DataFrame = [driverStandingsId: int, raceId: int ... 5 more fields]

In [40]:
driver_standings_df_clean.printSchema()

root
 |-- driverStandingsId: integer (nullable = true)
 |-- raceId: integer (nullable = true)
 |-- driverId: integer (nullable = true)
 |-- points: integer (nullable = true)
 |-- position: integer (nullable = true)
 |-- positionText: integer (nullable = true)
 |-- wins: integer (nullable = true)